<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Task App</title>
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% block content %}
    <div >
        <h2 class="center">Login</h2>
        <div class="center">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>